.navbar {
	background-color:#cf7dca;
	box-shadow: 0 0 3px 3px rgba(0,0,0,0.2);
}
.navelement:hover{
	background-color: #c876bf;
	color:#c00;
}
.threadbox a img{
	box-shadow: 0 0 2px 2px #CCB;
}
.threadbox a img:hover{
	box-shadow: 0 0 3px 3px #AA9;
}
.dashTable th, .reportTable th {
    background-color: #d66384;
}