h1,h2,h3,h4,h5,h6{
	text-align:center;
}

.centertext {
  text-align:center;
}

.pageTime {
  text-align:center;
  font-size:75%;
}
.navbar{
	position:fixed;
	z-index:100;
	top:0px;
    left:0px;
    right:0px;
	vertical-align:middle;
	cursor:default;
	display:inline-block;
    line-height: 18px;
}

.threadbox{
	height:75px;
	/*width:200px;*/
	vertical-align:middle;
	margin:20px 15px;
        margin-bottom: 50px;
	/*float:left;*/
	display:inline-block;
        font-size: 0.75em;
}

.navelement{
	height:18px;
	display:inline-block;
	width:auto;
	padding: 2px 3px;
	vertical-align:middle;
	/*cursor:pointer;*/
	text-decoration:none;
}
.navelement * {
    cursor:pointer;
    text-decoration:none;
}
.copyright,.push{
	height:35px;
        font-size: .8em;
        text-align:center;
}
.copyright {
    margin: 0 auto;
    display: block;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/*margin: -20px auto -15px; /* the bottom margin is the negative value of the footer's height */
	/*padding: 20px 0 0 0;*/
	margin:0 auto -35px;
	padding:0;
        padding-top: 5px;
}

.shadow {
    text-shadow:2px 2px 5px rgba(0,0,0,0.5);
}

a.button, input.button {
    display:inline-block;
    border: 1px solid rgba(0,0,0,0.5);
    text-decoration: none;
    padding: 2px;
    background-color: rgba(128,128,128,0.5);
    color: black;
    border-radius: 4px;
    min-width:1em;
}

a.button:hover, input.button:hover{
    background-color: rgba(0,0,0,0.5);
    border: 1px solid rgba(0,0,0,1);
    color: rgba(255,255,255,1) !important;
}

.faqItem {
    width: 40em;
    margin: 0 auto;
    padding: 2em;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 8px;
    margin-bottom: 1.5em;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
}

.faqQuestion, .faqAnswer {
    padding-left: 25px ;
    text-indent: -25px ;
    margin-bottom: 8px;
    margin-left: 8px
}

.faqQuestion {
    font-size: 20px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.15);
}

.faqQuestion:first-letter, .faqAnswer:first-letter {
    font-size: 18px;
    font-weight: bold;
    width: 2em;
    font-family: monospace;
    text-shadow: none;
}


#hover {
    position: fixed;
}

#hover .postContainer .post {
  border: 1px solid rgba(128, 128, 128, 0.25);
  padding: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px;
  margin-right: 5px;
}

.inline {
    border: 1px solid rgba(128, 128, 128, 0.25);
    display: table;
    background-color: rgba(255, 255, 255, .14);
    margin: 2px 0;
}

.inline * {
    background-color: rgba(0,0,0,0) !important;
}

.inlined {
    opacity: .5;
}

.expand-loading {
    opacity: 0.5;
}

.expand-loaded {
    display:none !important;
}

.expanded {
  
}

table.flashListing tr:not(:first-of-type) * {
    border-color: rgba(0,0,0,0);
}

a.miniButton{
    font-size:0.7em;
    display:inline-block;
    border: 1px solid rgba(128,128,128,0.3);
    position: relative;
    padding: 0 1px;
    top: -2px;
}
a.miniButton:hover{
    border: 1px solid rgba(0,0,0,0.3);
}
a.clicked, a.clicked:hover {
    border: 1px solid rgba(128,128,128,0.3);
}
.dashTable {
    border: none;
    width: 25em;
    
}
.dashTable th {
    background-color: rgba(0,0,0,0.5);
}
.dashTable tr, .dashTable td {
    
}
.dashTable td{
    /*width:50%;*/
}
.dashTable tr td:first-of-type {
    font-weight: bold;
}
.dashTable tr td:nth-of-type(2) {
    
}

.reportTable {
    border: none;
    width: 35em;
    text-align:center;
}
.reportTable th {
    background-color: rgba(0,0,0,0.5);
}
.right{
    text-align:right;
}
.errorMsg{
    margin-top: 1em;
    font-size: 2em;
    text-align:center;
}

.newsBox {
    width: 40em;
    margin: 0 auto 2em auto;
}

.newsArticleHead {
    border-radius: 8px 8px 0 0;
    border: 1px solid;
    padding-left: 5px;
    padding-top: 3px;
    line-height: 1.5em;
}

.newsArticleTitle {
    font-weight: bold;
    font-size: 1.5em;
}

.newsArticleInfo {
    font-size: 0.8em;
}

.newsArticleBody {
    padding: 1em 0.5em 0.5em 0.5em;
    border-bottom: 1px solid;
    border-left:1px solid;
    border-right:1px solid;
}

.borderless, .borderless *{
    border: none;
}

.boardlist_big {
    margin: 0 auto;
    text-align:center;
    padding: 2em;
}
.boardlist_big a {
    font-weight: bold;
    line-height: 2em;
    font-size: 1.5em;
    color: inherit !important;
    text-decoration: none;
}
.boardlist_big a:hover {
    text-decoration: underline;
}

.boardLinkBig .miniBoardInfo
{
    font-size: 0.8em;
    position: relative;
    top: -1em;
    opacity: 0.5;
}

.name-col
{
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
}

ul.stylemenu {
    list-style:none;
    display: inline;
    width:100%;
    margin-left: 8px;
    display:inline;
    margin-right:2px;
}
ul.stylemenu li {
    float:right;
    position:relative;
}
ul.stylemenu a {
    display:block;
}
ul.stylemenu ul{
    background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
    list-style:none;
    position:absolute;
    z-index: 99;
    width: 8em;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
    padding: 0;
    right:9999em; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}
ul.stylemenu ul li{
    float:none;
    text-align:right;
}
ul.stylemenu li:hover ul{ /* Display the dropdown on hover */
    right:0px; /* Bring back on-screen when needed */
}
strike strike {
    text-decoration: none;
    position: relative;
}
strike strike:after{
    content: ' ';
    font-size: inherit;
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    top: 40%;
    bottom: 40%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

a.backlink {
  text-decoration: none;
}

a.backlink span.linkpart {
  padding: 0;
}
