Order deny,allow
#Deny from all


ErrorDocument 404 /404.php
ErrorDocument 403 /404.php

RewriteEngine on

#RewriteRule ^.*\.php$ backupInProgress.php [L]

##
# Cleaner URLs
##
RewriteRule ^news news.php [L]
RewriteRule ^faq faq.php [L]

##
# 4chan URL compatibility
##
RewriteRule ^([a-z]{1,5})$ /$1/ [R]
RewriteRule ^([a-z]{1,5})/$ /board.php?b=$1
RewriteRule ^([a-z]{1,5})/([0-9]+)/$ /$1/$2 [R]
RewriteRule ^([a-z]{1,5})/([0-9]+)$ /board.php?b=$1&page=$2
RewriteRule ^([a-z]{1,5})/(res|thread)/([0-9]+) /thread.php?b=$1&t=$3
RewriteRule ^([a-z]{1,5})/(res|thread)/$ /$1/ [R]
RewriteRule ^([a-z]{1,5})/(res|thread)$ /$1/ [R]
RewriteRule ^([a-z]{1,5})/post/([0-9]+) /postRedirect.php?b=$1&no=$2
RewriteRule ^([a-z]{1,5})/catalog /catalog.php?b=$1

##
# b-stats custom URLs
##
RewriteRule ^([a-z]{1,5})/(res|thread)/images/([0-9]+) /threadImg.php?b=$1&t=$3&images=true
RewriteRule ^([a-z]{1,5})/deleted/ /deleted.php?b=$1
RewriteRule ^([a-z]{1,5})/filedeleted/ /deleted.php?b=$1&file=true
RewriteRule ^([a-z]{1,5})/(res|thread)/deleted/([0-9]+) /thread.php?b=$1&t=$3&d=true



##
# FoolFuuka URL scheme compatibility
##
RewriteRule ^([a-z]{1,5})/thread/([0-9]+)/ /$1/thread/$2 [R]
RewriteRule ^([a-z]{1,5})/full_image/([0-9]{13})(\.png|\.jpg|\.gif)?/? /notimplemented.html

RewriteRule ^([a-z]{1,5})/search/filename/(.*) /search_redir.php?filename=$2&b=$1
RewriteRule ^([a-z]{1,5})/search/image/(.*)  /search_redir.php?md5=$2&b=$1 [B]
RewriteRule ^([a-z]{1,5})/search/md5/(.*)$  /search_redir.php?md5=$2&b=$1 [B]
RewriteRule ^([a-z]{1,5})/search/id/(.*)$  /search_redir.php?id=$2&b=$1 [B]
RewriteRule ^([a-z]{1,5})/search/name/(.*) /notimplemented.html [B]
RewriteRule ^([a-z]{1,5})/search/tripcode/(.*) /notimplemented.html [B]

RewriteRule ^api/([a-z]{1,5})/post/([0-9]+)(\.json)? /jsonApi.php?a=getPost&board=$1&num=$2
RewriteRule ^api/([a-z]{1,5})/res/([0-9]+)(\.json)? /jsonApi.php?a=getThread&board=$1&num=$2
RewriteRule ^_/api/chan/post/ /jsonApi.php?a=getPost&foolfuuka=true [QSA]
RewriteRule ^_/api/chan/thread/ /jsonApi.php?a=getThread&foolfuuka=true [QSA]